.Footer {
    background-color: var(--BoxColor);
    position: absolute;
    bottom: 0;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    overflow: hidden;
    border-width: 1px 0 0 0;
    border-style: solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.Header {
    background-color: var(--BoxColor);
    border-width: 0 0 1px 0;
    border-style: solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}