@import "./style/vars.scss";

:root {
    background-color: var(--background);
}

h1 {
    color: var(--text1);
    font-size: 63px;
    font-weight: 600;
    margin: 0px;
}

h2 {
    color: var(--text3);
    font-size: 55px;
    font-weight: 600;
    margin: 0px;
}

h3 {
    color: var(--text2);
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}

p {
    color: var(--text4);
    font-size: var(--pFontSize);
    margin: 0px;
    word-wrap: break-word;
}

button {
    font-family: 'Dosis', 'Roboto', sans-serif;
    display:inline-block;
    cursor:pointer;
    padding:5px 11px;
    margin-top: 3px;
}

img {
    border-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.2s;
}

img:hover {
    transform: scale(0.93);

}

.flexRow {
    display:flex;
    flex-direction: row;
}

.flexColumn {
    display:flex;
    flex-direction: column;
}

.navbarLinks {
    padding-left: 15px;

}

.Link {
    font-size: var(--linkHeight);
    color: var(--text1);
    text-decoration: none;
    transition: 0.3s;
    list-style-type: circle;
}

.pageBox {
    width: 100%;
    max-width: 1200px;
    min-height: min-content;
    padding: 15px;
    background-color: rgba(0,20,200,1);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 20px;
}

.switchText {
    color: var(--text2);
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
}

.on {
    color: var(--text1);
    text-decoration: underline;
}

.borderBox {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.article {
    background-color: var(--articleColor);
    border-radius: 20px;
}