:root {
    --background: #392a3f; //#392a3f gamla
    --text1: rgb(255, 255, 255);
    --text2: rgb(125, 144, 255);
    --text3: rgb(231, 208, 236);
    --text4: rgb(155, 155, 155);
    --articleColor: rgba(226, 226, 226, 0.5);
    --rayWidth: 40px;
    --ray1: rgba(117, 33, 226, 0.144);
    --ray2: rgba(201, 57, 245, 0.493);
    --ray3: rgba(230, 15, 0, 0.493);
    --bgSpeed: 20s;
    --linkHeight: 35px;
    --articleHeight: 300px;
    --pFontSize: 30px;
  }