:root {
    --background: #1f1a22;
    --decor: rgba(92, 92, 92, 0.288);
    --text1: rgb(255, 255, 255);
    --text2: rgb(176, 107, 255);
    --text2rgba: rgba(176, 107, 255, 0.3);
    --text3: rgb(137, 178, 238);
    --text4: rgb(197, 197, 197);
    --text5: rgb(161, 138, 214);
    
    --linkHeight: 35px;
    --pFontSize: 30px;

    --articleHeight: 300px;
    --articleColor: rgb(255, 255, 255);
    --routeX: 0px;
    --routeY: 0px;
    --routeWidth: 0px;
    
  }